<h1>individual</h1>

<!--
<div class="row">
    <div class="col-md-12">
        <div class="card" >          
            <img class="card-img img-fluid" src="assets/images/individuals/granny.png"  alt="Card image">
            <div class="card-img-overlay">
                <div class="row">  
                    <div class="col-md-2 p-30 text-center">
                        <img src="assets/images/individuals/dorsale.png">
                    </div>                                    
                    <div class="col-md-2 p-30 text-center">
                        <h1 class="font-bold text-white">J-2</h1>
                        <h1 class="font-bold text-white">"Granny"</h1>
                        <h4 class="text-white">(1911-2016)</h4>
                    </div>     
                </div>  
                <div class="p-l-40">
                    <ngb-tabset type="pills" class="custom-pills">
                        <ngb-tab title="Id">
                            <ng-template ngbTabContent>
                                <form class="m-t-20 col-md-8">
                                    <div class="row">
                                        <div class="col-md-2 text-right">
                                            <h4 class="font-bold text-white">Age :</h4>
                                            <h4 class="font-bold text-white text-right">Sex :</h4>
                                            <h4 class="font-bold text-white">Ecotype :</h4>
                                            <h4 class="font-bold text-white">Population :</h4>
                                            <h4 class="font-bold text-white">Pod :</h4>
                                            <h4 class="font-bold text-white">Location :</h4>
                                        </div>
                                        <div class="col-md-10">                                
                                            <h4 class="text-white">105</h4>
                                            <h4 class="text-white">Female</h4>
                                            <h4 class="text-white">Resident</h4>
                                            <h4 class="text-white">Southern Resident Killer Whales (SRKW)</h4>
                                            <h4 class="text-white">J-Pod</h4>
                                            <h4 class="text-white">Salish Sea, British Columbia, Canada</h4>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Family">
                            <ng-template ngbTabContent>
                                <form class="m-t-20 col-md-8 ">
                                    <table class="table table-sm m-b-0 text-white text-center table-borderless table-hover">
                                        <thead>
                                        <tr>
                                          <th scope="col"><b>Id</b></th>
                                          <th scope="col"><b>Name</b></th>
                                          <th scope="col"><b>Sex</b></th>
                                          <th scope="col"><b>Relationship</b></th>
                                          <th scope="col"><b>Alive</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let country of countries">
                                          <th scope="row">{{ country.id }}</th>
                                          <td>{{ country.name }}</td>
                                          <td>{{ country.sex }}</td>
                                          <td>{{ country.relationship}}</td>
                                          <td>{{ country.alive}}</td>
                                        </tr>
                                        </tbody>
                                      </table>                                      
                                      <div class="d-flex justify-content-center p-2">
                                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [directionLinks]="false" size="sm"></ngb-pagination>
                                      </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="History">
                            <ng-template ngbTabContent>
                                <form class="m-t-20 col-md-8">
                                    <div class="row">
                                        <p class="text-white">Granny J-2 is considered to have lived the longest life of any wild orca. It is estimated that she had already lived half of her life when people who were capturing whales encountered her. She was the matriarch of the Southern Resident Community.</p>     
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Media">
                            <ng-template ngbTabContent>
                                <form class="m-t-20 col-md-8">
                                    <div class="row">
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset> 
                </div>         
            </div>           
        </div> 
    </div> 
</div> 

-->