<div class="row">
  <div class="col-12">
    <div class="OC-head-featured pods-padding" id="title">Individuals</div>

    <nav ngbNav #navz="ngbNav" class="nav-justified nav-pills">
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-population nav-pills-custom">Alive</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-2 population-grid-padding" *ngFor="let individuals of individualsAlive" >
              <ind-card [individuals]="individuals"></ind-card>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-population nav-pills-custom" (click)="getAllIndividuals()">All</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-2 population-grid-padding" *ngFor="let individuals of individualsAll" >
              <ind-card [individuals]="individuals"></ind-card>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-population nav-pills-custom" (click)="getMaleIndividuals()">Male</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-2 population-grid-padding" *ngFor="let individuals of individualsMale" >
              <ind-card [individuals]="individuals"></ind-card>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-population nav-pills-custom" (click)="getFemaleIndividuals()">Female</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-2 population-grid-padding" *ngFor="let individuals of individualsFemale" >
              <ind-card [individuals]="individuals"></ind-card>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="navz" class="mt-2"></div>
  </div>
</div>


