<div class="row">
    <div class="col-12">
        <div *ngIf="population">
            <div class="OC-title-population">{{ population.name }}</div>
        </div>
        <div class="row">
            <div class="col-4">
              <div class="card margin-cards">
                <img class="card-img OC-img-featured-pop" src="{{ population.image }}" >
              </div>
                
            </div>
            <div class="col-8">
                <nav ngbNav #navz="ngbNav" class="nav-justified">
                    <ng-container ngbNavItem>
                      <a ngbNavLink class="nav-population">Population</a>
                      <ng-template ngbNavContent>
                        <div class="row">
                          <div class="col-6">
                            <table style="width:100%">
                              <tr>
                                <th>Population number</th>
                                <td class="OC-title-population">73</td>
                              </tr>
                              <tr>
                                <th>Region</th>
                                <td>British Columbia, Canada</td>
                              </tr>
                              <tr>
                                <th>Diet</th>
                                <td>Chinook salmon</td>
                              </tr>
                              <tr>
                                <th>Status</th>
                                <td>
                                  <a href="#" class="badge badge-pill badge-danger">Endangered</a>
                                </td>
                              </tr>
                            </table>
                          </div>
                          <div class="col-6">
                            <p>The Southern Resident killer whales (also called orcas/Orcinus orca) are a large extended family, or clan, comprised of three pods: J, K, and L pods. Within each pod, families form into sub-pods centered around older females, usually grandmothers or great-grandmothers. Both male and female offspring remain in close association with their mothers for life.</p>
                            <p>From spring through fall, the Southern Resident killer whales are most often seen in the protected inshore waters of the Salish Sea. The Salish Sea includes the Strait of Juan de Fuca, Strait of Georgia, and Puget Sound, and all their connecting channels and adjoining waters, and the waters around and between the San Juan Islands in Washington State and the Gulf Islands in British Columbia.</p>
                          </div>
                        </div>
                        </ng-template>
                    </ng-container>
                    <ng-container ngbNavItem>
                      <a ngbNavLink class="nav-population">Location</a>
                      <ng-template ngbNavContent>
                        
                      </ng-template>
                    </ng-container>
                    <ng-container ngbNavItem>
                      <a ngbNavLink class="nav-population">Status</a>
                      <ng-template ngbNavContent>
                        
                      </ng-template>
                    </ng-container>
                    <ng-container ngbNavItem>
                      <a ngbNavLink class="nav-population">Resources</a>
                      <ng-template ngbNavContent>
                        
                      </ng-template>
                    </ng-container>
                  </nav>
                  <div [ngbNavOutlet]="navz" class="mt-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                    <div class="OC-head-featured pods-padding">Pods</div>
            </div>
            <div class="col-12">
                <div class="row">
                  <div class="col-3" *ngFor="let pods of pods" >
                      <div *ngIf="pods">
                        <a [routerLink]="['./individual-grid',pods.id]">
                          <div class="card card-hover margin-cards">
                            <img class="OC-img-featured-pop" src="{{ pods.image }}">
                            <div class="card-body">
                                <div class="OC-card-title-population">{{ pods.id }}</div>
                            </div>
                          </div>
                        </a>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <router-outlet></router-outlet>