<div class="row">
    <div class="col-12">
        <div class="OC-title-populations">AMERICA</div>
        <div class="row OC-spacing1rst">
            <div class="col-md-3 col-xl-2" *ngFor="let population of populations">
                <div *ngIf="population.region == 'america'">
                    <a [routerLink]="['/populations/population', population.id]">
                        <div class="card card-hover margin-cards">
                            <img class="OC-img-featured-pop" src="{{ population.image }}">
                            <div class="card-body">
                                <div class="OC-title-featured">{{ population.title }}</div>
                                <div class="OC-subtitle-featured">{{ population.subtitle }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="OC-title-populations">EUROPE</div>
        <div class="row OC-spacing1rst">
            <div class="col-md-3 col-xl-2" *ngFor="let population of populations">
                <div *ngIf="population.region == 'europe'">
                    <a [routerLink]="['/populations/population', population.id]">
                        <div class="card card-hover margin-cards">
                            <img class="OC-img-featured-pop" src="{{ population.image }}">
                            <div class="card-body">
                                <div class="OC-title-featured">{{ population.title }}</div>
                                <div class="OC-subtitle-featured">{{ population.subtitle }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <ng-template ngFor let-population [ngForOf]="populations" >
        <div *ngIf="population.region == 'america'" class="col-md-3 col-xl-2">
            <a [routerLink]="['/populations/population', population.id]">
                <div class="card card-hover margin-cards">
                    <img class="OC-img-featured-pop" src="{{ population.image }}">
                    <div class="card-body">
                        <div class="OC-title-featured">{{ population.title }}</div>
                        <div class="OC-subtitle-featured">{{ population.subtitle }}</div>
                    </div>
                </div>
            </a>
        </div>
    </ng-template>
</div>
<div class="row">
    <ng-template ngFor let-population [ngForOf]="populations" >
        <div *ngIf="population.region == 'europe'" class="col-md-3 col-xl-2">
            <a [routerLink]="['/populations/population', population.id]">
                <div class="card card-hover margin-cards">
                    <img class="OC-img-featured-pop" src="{{ population.image }}">
                    <div class="card-body">
                        <div class="OC-title-featured">{{ population.title }}</div>
                        <div class="OC-subtitle-featured">{{ population.subtitle }}</div>
                    </div>
                </div>
            </a>
        </div>
    </ng-template>
</div>

