<div class="card org-card card-hover">
    <div class="card-body text-center">
        <div class="profile-pic m-b-5 m-t-5">
            <img src="{{ organization.logo }}" width="75" class="rounded-circle" alt="user" />
            <h4 class="card-title m-t-20 m-b-0">{{ organization.name }}</h4>
        </div>
    </div>
    <div class="p-25 m-t-5">
        <div class="row text-center">
            <div class="col-6">
                <a href="{{ organization.email }}" class="link d-flex align-items-center justify-content-center font-medium">
                    <i class="mdi mdi-email font-20 m-r-5"></i></a>
            </div>
            <div class="col-6">
                <a href="{{ organization.link }}" class="link d-flex align-items-center justify-content-center font-medium">
                    <i class="mdi mdi-web font-20 m-r-5"></i></a>
            </div>
        </div>
    </div>
</div>