<div class="row">
    <div class="col-12">
        <div *ngIf="individual">
            <div class="row">
                <div class="col-4">
                    <div class="card margin-cards">
                        <img class="card-img OC-img-featured-pop" src="{{ individual.leftSide }}" >
                    </div>
                    <div class="OC-head-featured text-center">
                      Left side <i class="mdi mdi-copyright" [ngbTooltip]="tipContent" placement="right"></i>
                      <ng-template #tipContent>{{ individual.leftcredits }}</ng-template>
                    </div>
                </div>
                <div class="col-4">
                    <div class="individual-main-title individual-main-padding">{{ individual.id }}</div>
                    <div class="individual-main-title">{{ individual.name }}</div>
                    <div class="individual-main-subtitle">{{ individual.birthDate }} - {{ individual.deathDate }}</div>
                    <div class="row">
                      <table style="width:100%" class="individual-tab-row">
                        <tr>
                          <th class="p-b-15">Age</th>
                          <td class="p-b-15">{{ individual.age }}</td>
                        </tr>
                        <tr>
                          <th class="p-b-15">Sex</th>
                          <td class="p-b-15">{{ individual.sex }}</td>
                        </tr>
                        <tr>
                          <th class="p-b-15">Ecotype</th>
                          <td class="p-b-15">{{ individual.ecotype }}</td>
                        </tr>
                        <tr>
                          <th class="p-b-15">Population</th>
                          <td class="p-b-15">{{ individual.population }}</td>
                        </tr>
                        <tr>
                          <th class="p-b-15">Location</th>
                          <td class="p-b-15">{{ individual.location }}</td>
                        </tr>
                      </table>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card margin-cards">
                        <img class="card-img OC-img-featured-pop" src="{{ individual.rightSide }}" >
                    </div>
                    <div class="OC-head-featured text-center">
                      Right side <i class="mdi mdi-copyright" [ngbTooltip]="tipContent" placement="right"></i>
                      <ng-template #tipContent>{{ individual.rightcredits }}</ng-template>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="OC-head-featured">Matriline</div>
                    <div *ngFor="let matriline of matriline">
                      <table style="width:100%">
                        <div *ngFor="let family of matriline.id">
                          
                            <tr>
                              <th>{{ family.id }}</th>
                            </tr>
                          
                        </div>
                      </table>
                    </div>
                </div>
                <div class="col-6">
                    <div class="OC-head-featured">Media</div>
                    <nav ngbNav #navz="ngbNav" class="nav-justified">
                        <ng-container ngbNavItem>
                          <a ngbNavLink class="nav-population">Photographies</a>
                          <ng-template ngbNavContent>
                            <form class="form-inline waves-light" mdbWavesEffect>
                                <div class="md-form mt-0">
                                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                                </div>
                              </form>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                          <a ngbNavLink class="nav-population">Videos</a>
                          <ng-template ngbNavContent>
                            
                          </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                          <a ngbNavLink class="nav-population">Articles</a>
                          <ng-template ngbNavContent>
                            
                          </ng-template>
                        </ng-container>
                        
                      </nav>
                      <div [ngbNavOutlet]="navz" class="mt-2"></div>
                </div>
            </div>
        </div>
    </div>
 </div>