<div class="row">
    <div class="col-12">
        <div class="OC-title-sources">AMERICA</div>
        <div class="row">
            <div class="col-4">
                <div class="contributions-subtitle">Southern Resident</div>
                <ul>
                    <li class="contributions-paragraph">Official Orca Survey, Naturalist's Family Tree Guide to Orca Whales of the Southern Resident Community ,Produced by the Center for Whale Research, Friday Harbor, WA 98250, David Ellifrit, Erin Heydenreich and Kenneth C. Balcomb III, 2014 Summer Edition</li>
                    <li>https://www.orcanetwork.org/Main/index.php?categories_file=Births%20and%20Deaths</li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph">Official Orca Survey, Naturalist's Family Tree Guide to Orca Whales of the Southern Resident Community ,Produced by the Center for Whale Research, Friday Harbor, WA 98250, David Ellifrit, Erin Heydenreich and Kenneth C. Balcomb III, 2014 Summer Edition</li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph">Official Orca Survey, Naturalist's Family Tree Guide to Orca Whales of the Southern Resident Community ,Produced by the Center for Whale Research, Friday Harbor, WA 98250, David Ellifrit, Erin Heydenreich and Kenneth C. Balcomb III, 2014 Summer Edition</li>
                </ul>
            </div>
        </div>
        <div class="OC-title-sources">ASIA</div>
        <div class="row">
            <div class="col-4">
                <div class="contributions-subtitle">Southern Resident</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
        </div>
        <div class="OC-title-sources">EUROPE</div>
        <div class="row">
            <div class="col-4">
                <div class="contributions-subtitle">Southern Resident</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
        </div>
        <div class="OC-title-sources">OCEANIA</div>
        <div class="row">
            <div class="col-4">
                <div class="contributions-subtitle">Southern Resident</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
        </div>
        <div class="OC-title-sources">ANTARCTICA</div>
        <div class="row">
            <div class="col-4">
                <div class="contributions-subtitle">Southern Resident</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="contributions-subtitle">Punta Norte</div>
                <ul>
                    <li class="contributions-paragraph"></li>
                </ul>
            </div>
        </div>
    </div>
</div>




