<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <div class="contributions-title">EARLY SUPPORT</div>
                <div class="contributions-text">Laura Loth</div>
                <div class="contributions-text">Arthur D'acremont</div>
                <div class="contributions-text">Romain Decoursière</div>
                <div class="contributions-text">Patricia Ducret</div>
                <div class="contributions-text">Jean-Claude Ducret</div>
                <div class="contributions-text">Florent Nicolas</div>
                <div class="contributions-text">Nicolas Frasson</div>
                <div class="contributions-text">Quentin Hoerner</div>
                <div class="contributions-text">Ambassade des Océans</div>
                <div class="contributions-text">Valhalla Orca Expedition</div>
                <div class="contributions-text">Lina Grube</div>
                <div class="contributions-text">Piet Van Den Bemd</div>
                <div class="contributions-text">Rachelle Hayden</div>
                <div class="contributions-text">Gary Sutton</div>
            </div>
            <div class="col-4">
                <div class="contributions-title">PHOTO CREDITS</div>
                <div class="contributions-subtitle">Home Page</div>
                <div class="contributions-text">© Isabelle Dupré</div>
                <div class="contributions-subtitle">Populations Page</div>
                <div class="contributions-subtitle">Population Page</div>
                <div class="contributions-subtitle">Individual Page</div>
                <div class="contributions-subtitle">About Page</div>
                <div class="contributions-subtitle">News Page</div>
            </div>
            <div class="col-4">
                <div class="contributions-title">REVIEWERS</div>
                <div class="contributions-subtitle">Application Code</div>
                <div class="contributions-text">Romain Soleri</div>
                <div class="contributions-subtitle">Orca Related Data</div>
                <div class="contributions-text">Florent Nicolas</div>
            </div>
        </div>
</div>