<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <div class="contributions-title">EARLY SUPPORT</div>
                <div class="contributions-text">Laura Loth</div>
                <div class="contributions-text">Arthur D'acremont</div>
                <div class="contributions-text">Romain Decoursière</div>
                <div class="contributions-text">Patricia Ducret</div>
                <div class="contributions-text">Jean-Claude Ducret</div>
                <div class="contributions-text">Florent Nicolas</div>
                <div class="contributions-text">Nicolas Frasson</div>
                <div class="contributions-text">Quentin Hoerner</div>
                <div class="contributions-text">Ambassade des Océans</div>
                <div class="contributions-text">Valhalla Orca Expedition</div>
                <div class="contributions-text">Lina Grube</div>
                <div class="contributions-text">Piet Van Den Bemd</div>
                <div class="contributions-text">Rachelle Hayden</div>
                <div class="contributions-text">Gary Sutton</div>
                <div class="contributions-text">Maéva Dramet</div>
            </div>
            <div class="col-4">
                <div class="contributions-title">PHOTO CREDITS</div>
                <div class="contributions-subtitle">Home Page</div>
                <div class="contributions-text">© Isabelle Dupré</div>
                <div class="contributions-subtitle">Southern Resident Population/Pods/Individuals</div>
                <div class="contributions-text">© Center for Whale Research</div>
                <div class="contributions-subtitle">Patagonian Population/Pods/Individuals</div>
                <div class="contributions-text">©</div>
                <div class="contributions-subtitle">Iberian Population/Pods/Individuals</div>
                <div class="contributions-text">© CIRCE - Conservación, Información y Estudios sobre cetáceos</div>
                <div class="contributions-subtitle">Scottish Population/Pods/Individuals</div>
                <div class="contributions-text">© HWDT - Hebridean Whale and Dolphin Trust</div>
                <div class="contributions-subtitle">Icelandic Population/Pods/Individuals</div>
                <div class="contributions-text">© Icelandic Orca Project</div>
                <div class="contributions-text">© Marine and Freshwater Research Institute, Iceland</div>
                <div class="contributions-text">© Sea Mammal Research Unit, Scottish Oceans Institute, University of St Andrews, U.K.</div>
            </div>
            <div class="col-4">
                <div class="contributions-title">REVIEWERS</div>
                <div class="contributions-subtitle">Application Code</div>
                <div class="contributions-text">Romain Soleri</div>
                <div class="contributions-text">Arvind Balgo</div>
                <div class="contributions-subtitle">Orca Related Data</div>
                <div class="contributions-text">Florent Nicolas</div>
            </div>
        </div>
</div>